body {
    background-color: #68229c;
}

#container {
    position: absolute; 
    top: 60%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    margin-top: 50px;
}

.botao {
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    border: 2px solid rgb(0, 0, 0);
    transition: none;
    box-shadow: rgb(0, 0, 0) 8px 8px 0px 0px;
    color: rgb(9, 9, 9);
    background-color: rgb(232, 39, 232);
    border-radius: 8px;
    width: 75vw;
    height: 7vh;
    font-size: medium;

}
.botao:hover {
    box-shadow: rgb(0, 0, 0) 4px 4px 0px 0px;
    transform: translate(4px,4px);
    cursor: pointer;
}

#topo {
    text-align: center;
    height: 30px;
    margin-bottom: 30px;
}

#icone {
    border-radius: 50%;
    height: 18vh;
}

.texto {
    font-family: 'Capriola';
    flex: 1;
    text-align: center;
    color: black;
    font-size: 3.5vw;
    
}

.iconeProduto{
    width: 4.7vh;
    left: 10px;
    position:absolute;
    text-decoration: none;

}
a {
    text-decoration: none;  
}

#nome {
    text-decoration: underline;
    font-size: 4vw;
}

@media (min-width: 820px) {
    .botao {
        width: 700px;
    }
}

.titulo {
    font-size: 3.5vw;
    margin-bottom: 10px;
}   

